<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TelegramKey" value="X" />
      <add key="WunderGroundKey" value="X" />
        <add key="BingKey" value="X" />
          <add key="WolframAppID" value="X" />
            <add key="HaloAppId" value="X" />
              <add key="ClientSettingsprovider.ServiceUri" value="X" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>